/* contact me button */

.actionsbtn{
 padding-left: initial;
  
  list-style: none; 
  
  	
}

.contact-button{
  
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: #08fdd8;
  display: inline-block;
  
}
.contact-button .buttondiv{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
 /* transition:  all .3s ease-in-out; */
}
.contact-button span.bg-button{
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  /*top: 0;*/
  
  transition: all .3s ease-in-out;
  background-color: #08fdd8;
  transform: skewX(-19deg);
  
}
.contact-button:hover span.bg-button{
  width: 110%;
}
.contact-button span.base-button{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid #08fdd8;
  
  box-sizing: border-box;
  
  
}


.contact-button span.text-button{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}
.contact-button:hover span.text-button{
  color: #1d1d1d;
}

.not-visible{
  visibility: hidden;

}
span.bold-text{
  font-weight: bold;
}
span.skills{
  text-transform: none;
	font-size: 11px;
}

.canvas-body{
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background: rgb(29, 29, 29);
  overflow-x: hidden;
}
.h2-canvas{


  color: #08fdd8;
  width: 500px;
  font-size: 4.3rem;
  line-height: 6.7rem;
  text-transform: none;
  margin: none;
  letter-spacing:initial;
  line-height: none;

}

@media screen and (max-width: 480px ) {
 .h2-canvas {
    font-size: 1.5rem;
    line-height: 4.2rem;
 }

}



@media screen and (min-width: 480px){

  .h2-canvas {
    line-height: 4.9rem;
    font-size: 3.5rem;

  }
}

@media screen and (min-width: 900px){

  .h2-canvas {
    font-size: 3.5rem;
    line-height: 6rem;

  }
}



@media screen and (max-width:1200px) {
  #myCanvasContainer{
    display: flex;
  
  }
  #myCanvas{
    width: 100%;
    margin: auto;
  }
  
}

@media screen and (max-width:800px) {
  #myCanvasContainer{
    display: flex;
  
  }
  #myCanvas{
    width: 85%;
    margin: auto;
  }
  
}

@media screen and (max-width:600px) {
  #myCanvasContainer{
    display: flex;
  
  }
  #myCanvas{
    width: 75%;
    margin: auto;
  }
  
}

@media screen and (max-width:400px) {
  #myCanvasContainer{
    display: flex;
  
  }
  #myCanvas{
    width: 65%;
    margin: auto;
  }
  
}


#header-canvas {
  font-size: 2rem;
  color: #08fdd8;
  margin-bottom: 30px;
}

#section-about-canvas{

  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.text-zone3-canvas .p-canvas{
  margin-bottom: 15px;
  line-height: 1.5rem;
}
.tech-canvas{
  text-decoration: none;
  color: #08fdd8;
}

@media screen and (min-width: 1200px) {
  #header-canvas{
    font-size: 2.5rem;

  }

  #section-about-canvas{
  flex-direction: row;
  padding-left: 13rem;

  }

    .text-zone3-canvas #header-canvas{
    width: 500px;
    font-size: 3rem;
    }
    .text-zone3-canvas .p-canvas{
    width: 400px;
    }
   .skills-charts{
    margin-right: 20%;
   }
}

